.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 50px;
}
p{
    font-size: 20px;
}
.navigation{
    margin: 15px 15px;
}
a{
        font-size: 15px;
        text-decoration: none;
        color: rgb(215, 40, 69);
}