<ion-header>
  <app-menu></app-menu>
</ion-header>
<ion-content>
  <div class="container">
    <ion-text>
      <p>        
        Sou morador de Santíssimo, bairro da Zona Oeste do Rio de Janeiro, onde aprendi valores de 
        simplicidade, perseverança e dedicação. Torcedor apaixonado do Flamengo, levo para minha vida a 
        garra e a determinação da Nação Rubro-Negra. Estudante de Tecnologia da Informação, busco 
        constantemente aprender e aplicar soluções criativas para transformar realidades através da 
        tecnologia. Além disso, minha fé cristã, vivida na Igreja Nossa Senhora da Conceição de São 
        Victor, fortalece meu caráter e orienta 
        minhas escolhas, ajudando-me a equilibrar os desafios da vida pessoal, acadêmica e profissional.
     </p>
    </ion-text>
    <div class="navigation">
      <a href="https://portfolio-870e5.web.app/" target="_blank">Conheça minhas habilidades e meus
        projetos</a>
    </div>
  </div>
</ion-content>
<ion-footer>
<app-rodape></app-rodape>
</ion-footer>